<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>

<body>
    <% if (locals.user) {%>
        <div class="user-header">
            <h1>Welcome <%= user.first_name %>
            </h1>
            <a href="/log-out" class="btn btn-primary">Log Out</a>
        </div>

        <div class="messages-container"></div>

        <% } else { %>
            <h1>please log in</h1>
            <form action="/log-in" method="POST">
                <label for="username">Username</label>
                <input id="username" name="username" placeholder="username" type="text" />
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
                <button type="submit">Log In</button>
                <h2>or <a href="/sign-up">signup</a></h2>
            </form>
            <%}%>
                </form>

</body>

</html>